h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.footer-rounded {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }